# Dependencies
node_modules/
**/node_modules/

# Build and Distribution
dist/
**/dist/
build/
**/build/

# Electron specific
**/Electron.app/**
**/Electron Framework.framework/**
**/electron/dist/
**/electron-*

# Python
**/__pycache__/
*.pyc

# Environment
.env
*.db
.env.*

# System
.DS_Store

# Personal
journal.txt

**explanation**

**test**